.Header {
  width: 100vw;
  height: 70px;
  background: #C3CFD9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.Header > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: var(--laranja);
}

