.Header {
  width: 100vw;
  height: 70px;
  background: #c3cfd9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.4);
}

.Header > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: var(--laranja);
}

.Header img {
  width: 30px;
  position: absolute;
  left: 30px;
  background-color: orange;
  border-radius: 50px;
}
